version: '3'
services:
  server1:
    build: .
    container_name: shelly_control_center
    ports:
      - "2222:22"      # SSH
      - "1883:1883"    # MQTT
      - "8083:8083"    # InfluxDB Admin UI
      - "8086:8086"    # InfluxDB HTTP API
      - "3000:3000"    # Grafana
    volumes:
      - ./mosquitto/config/mosquitto.conf:/etc/mosquitto/mosquitto.conf:ro
      - ./telegraf/config/telegraf.conf:/etc/telegraf/telegraf.conf:ro
      - ./influxdb/data:/var/lib/influxdb
      - ./grafana/dashboards:/etc/grafana/dashboards:ro
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
