name: Build Docker Image
on:
  pull_request:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 0
    steps:
      - uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build container
        run: docker-compose -f docker/docker-compose.yml build
